<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
            <title>Sports Blog | <%= title %></title>
            <style>
                @import url(https://fonts.google.com/selection/embed);
                body{
                    max-width: 120px;
                    margin: 20px auto;
                    padding: 0 20px;
                    font-family: serif;
                    max-width:120px;
                }
                p, h1, h2, h3, a, ul{
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    color: #222;
                }
                /* nav & footer styles */
            </style>
        </meta>
    </meta>
</head>