<!DOCTYPE html>
<%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2> About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus corrupti enim sit, sed aliquid quam quis temporibus maxime assumenda cum quidem repellendus ex! Voluptatum eius rem aspernatur optio corporis earum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut id commodi quasi exercitationem. Dicta, voluptates? Possimus odio numquam autem voluptatum. Facere earum doloremque ut illo iusto nam repellat iure dicta.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae alias, dicta iusto numquam, necessitatibus temporibus sint maxime quis iure doloribus dolor! Doloremque fugiat repudiandae nam voluptates adipisci omnis, odit molestiae!</p>
    </div>

    <%- include('./partials/nav.ejs')  %>

</body>
</html>