<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Sport Blog | <%= title %></title>
</head>
<body>
    
    <nav>
        <div class="site-title">
            <a href="/"<h1>Sports Blog</h1></a>
            <p>A Sport Fans Blog Page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create"> New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2> About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus corrupti enim sit, sed aliquid quam quis temporibus maxime assumenda cum quidem repellendus ex! Voluptatum eius rem aspernatur optio corporis earum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut id commodi quasi exercitationem. Dicta, voluptates? Possimus odio numquam autem voluptatum. Facere earum doloremque ut illo iusto nam repellat iure dicta.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae alias, dicta iusto numquam, necessitatibus temporibus sint maxime quis iure doloribus dolor! Doloremque fugiat repudiandae nam voluptates adipisci omnis, odit molestiae!</p>
    </div>

</body>
</html>